{% extends '_base.html' %}

{% block content %}
    <div class="row mb-4">
        <div class="col">
            <h2>課程表單</h2>
        </div>
        <div class="col">
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <a href="{% url 'CourseList' %}">
                        <button class="btn btn-primary">
                            <i class="fas fa-sign-out-alt"></i> 返回列表
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="p-5">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}</label>
                <input type="text" class="form-control" name="{{ form.name.name }}" id="{{ form.name.id_for_label }}" value="{{ form.name.value|default_if_none:'' }}" required>
            </div>
            <div class="form-group">
                <label for="{{ form.credit.id_for_label }}">{{ form.credit.label_tag }}</label>
                <input type="number" class="form-control" name="{{ form.credit.name }}" id="{{ form.credit.id_for_label }}" value="{{ form.credit.value|default_if_none:'' }}" required>
            </div>
            <div class="form-group">
                <label for="{{ form.instructor.id_for_label }}">{{ form.instructor.label_tag }}</label>
                <select class="form-control" name="{{ form.instructor.name }}" id="{{ form.instructor.id_for_label }}" required>
                    {% for option in form.instructor %}
                        {{ option }}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="{{ form.student.id_for_label }}">{{ form.student.label_tag }}</label>
                <select multiple class="form-control" name="{{ form.student.name }}" id="{{ form.student.id_for_label }}" required>
                    {% for option in form.student %}
                        {{ option }}
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">送出</button>
        </form>
    </div>
{% endblock %}