{% extends '_base.html' %}

{% block content %}

    <div class="row mb-4">
        <div class="col">
            <h2>在校人員</h2>
        </div>
        <div class="col">
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <a href="{% url 'InSchoolPeopleCreate' %}">
                        <button class="btn btn-primary">
                            <i class="fas fa-user-friends"></i> 新增人員
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-teacher" role="tab" aria-controls="pills-home" aria-selected="true">教師</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-student" role="tab" aria-controls="pills-profile" aria-selected="false">學生</a>
        </li>
    </ul>
    <div class="tab-content mb-3" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-teacher" role="tabpanel" aria-labelledby="pills-home-tab">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">姓名</th>
                    <th scope="col">身高</th>
                    <th scope="col">功能</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <th scope="row">{{ object.id }}</th>
                        <td>{{ object.name }}</td>
                        <td>{{ object.height }}</td>
                        <td>
                            <a href="{% url 'InSchoolPeopleUpdate' object.pk %}">
                                <button class="btn btn-warning mx-1"><i class="fas fa-edit"></i></button>
                            </a>
                            <a href="#">
                                <button class="btn btn-danger mx-1"><i class="fas fa-trash-alt"></i></button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="pills-student" role="tabpanel" aria-labelledby="pills-profile-tab">
            <h5 class="text-center">
                <span class="badge badge-success px-1">最多學分: {{ max_cradit|default_if_none:0 }}</span>
                <span class="badge badge-warning px-1">最少學分: {{ min_cradit|default_if_none:0 }}</span>
                <span class="badge badge-primary px-1">平均學分: {{ avg_cradit|default_if_none:0 }}</span>
            </h5>
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">姓名</th>
                    <th scope="col">身高</th>
                    <th scope="col">總修習學分</th>
                    <th scope="col">功能</th>
                </tr>
                </thead>
                <tbody>
                {% for object in student_list %}
                    <tr>
                        <th scope="row">{{ object.id }}</th>
                        <td>{{ object.name }}</td>
                        <td>{{ object.height }}</td>
                        <td>{{ object.total_credits | default_if_none:0 }}</td>
                        <td>
                            <a href="{% url 'InSchoolPeopleUpdate' object.pk %}">
                                <button class="btn btn-warning mx-1"><i class="fas fa-edit"></i></button>
                            </a>
                            <a href="#">
                                <button class="btn btn-danger mx-1"><i class="fas fa-trash-alt"></i></button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}